:root {
    --Primary-col: #008839;
    --Secondary-col: #62c422;
    --Off-white-col: rgb(250, 250, 250);
}

body {
    font-family: 'Roboto', sans-serif;
}

.first-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 750px;
    background-color: var(--Off-white-col);
    background-image: url(./images/headline-ybs-logo-wall.jpg);
    background-size: cover;
}

.content-wrapper {
    padding-top: 200px;
    max-width: 1300px;
}
.left-side {
    padding-left: 30px;
    width: 50%;
}

.left-side .openCalculator {
    margin-top: 20px;
    padding: 20px 25px;
    background-color: var(--Primary-col);
    border-color: var(--Primary-col);
}
.left-side .openCalculator:hover {
    background-color: var(--Secondary-col);
    border-color: var(--Secondary-col);
}

.calculator-body {
    height: 500px;
    width: 500px;
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    background-color:rgb(255, 255, 255);
    box-shadow: 0px 0px 50px rgb(0, 0, 0);

}
.calc-wrapper {
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
}

.input-control {
    margin-bottom: 10px;
}
.top-part-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.slider-input-control {
    display: flex;
    flex-direction: column;
}
.slider-input-control label{
    margin-bottom: 20px;
}
.slider-input-control input {
    width: 100%;
    margin-bottom: 30px;
}
.ybs-logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.ybs-logo img{
    width: 350px;
    margin-bottom: 30px;
}
.submit-button-container .submit-button {
    background-color: var(--Primary-col);
    border-color: var(--Primary-col);
}
.submit-button-container .submit-button:hover {
    background-color: var(--Secondary-col);
    border-color: var(--Secondary-col);
}
.submit-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

input[type='range'] {
    overflow: hidden;
    -webkit-appearance: none;
    height: 20px;
    width: 100%;
    border-radius: 10px;
    background-color: rgb(180, 180, 180);
    accent-color: var(--Primary-col);
  }
input[type='range']::-webkit-slider-thumb {
    cursor: ew-resize;
}
  .mortgage-term {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .mortgage-term span {
    color: var(--Primary-col);
    font-weight: 900;
    font-size: 1.25rem;
  }
  .mortgage-term-value {
    margin-right: 5px;
  }

  .input-control.success input {
    border-color: var(--Secondary-col);
    border-width: 3px;
  }
  .input-control.error input {
    border-color: rgb(230, 0, 0);
    border-width: 3px;
  }

  .input-control .error {
    color: rgb(230, 0, 0);
    font-weight: 300;
    font-size: 0.75rem;
  }